$darkGrey: #343A3F;
$lightGrey: #3E4449;
$skill-tag-bg-color: #2cbcc9;
$type-tag-bg-color: #007BFF;
$skill-tag-bg-color: #2cbcc9;
$activeGreen: #27A744;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.5rem;
}

.jobResultTable {
  margin: auto;
  width: 50%;
  min-width: 385px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  color: white;
  background-color: $darkGrey;

  .companyLogo {
    height: 75px;
    width: auto;
    margin: 10px 10px;
  }

  .col1Text {
    display: block;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div {
    display: flex;
  }

  .col4 {
    flex-wrap: wrap;
  }
}

.titleRow {
  height: 40px;
  font-size: 2rem;
  margin: auto;
  width: 50%;
  min-width: 385px;
}


.jobRow:nth-child(2n) {
  background-color: $lightGrey;
}

.skillTag {
  background-color: $skill-tag-bg-color;
  height: fit-content;
  width: fit-content;
  color: white;
  border-radius: 5px;
  padding: 4px;
  margin: 4px 4px;

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 1.3rem;
  }
}

.typeTag {
  background-color: $type-tag-bg-color;
  color: white;
  border-radius: 5px;
  padding: 3px;
  font-weight: bolder;
  font-size: 1.3rem;
  height: fit-content;
  width: fit-content;

}

.title {
  font-size: 2rem;
  margin: auto;
  width: 50%;
  min-width: 385px;
}

.overlay {
  visibility: hidden;
  background-color: blue;
  position: fixed;
  height: 500px;
  width: 500px;

  .overlayOpen {
    visibility: visible;
  }
}

.modalClosed {
  visibility: hidden;
}

.modalOpen {
  visibility: visible;
}

@media only screen and (max-width: 900px){
  .jobResultTable {
    grid-template-columns: 2fr repeat(3, 1fr);
    min-width: 95vw;
  }

  .title {
    width: 95%;
  }

  img {
    display: none;
  }

  h2 {
    font-size: 1.5rem;
  }

  .titleRow {
    font-size: 1.3rem;
    padding: 5px 5px;
    height: 30px;
  }

  .col1Text {
    padding-left: 10px;
  }

  .col1, .col2, .col3 {
    padding-right: 10px;
  }
}

.modalScreen {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0c546070;
}

.JobModal {
  height: 95vh;
  width: 65vw;
  margin: auto;
  background-color: #FFFFFF;

  .modalTitle {
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px #dedede solid;
    margin-bottom: 10px;

    p {
      font-size: 1.2rem;
      font-weight: 900;
      color: $type-tag-bg-color;
    }

    a {
      text-decoration: none;
    }
  }

  .modalBanner {
    background-color: $type-tag-bg-color;
    height: 15%;
    margin: 0 10px 10px 10px;
    padding: 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h3 {
      color: #FFFFFF;
      font-size: 2rem;
      padding-right: 10px;

    }
  }

  .modalJob {
    background-color: #FFFFFF;
    margin: 0 10px 10px 10px;
    padding: 10px;

    h1 {
      margin: 0;
    }

    p {
      font-size: 1.1rem;
    }

    img {
      height: 70px;
      width: auto;
      margin-right: 10px;
    }

    .company {
      display: flex;
      justify-content: flex-start;

      h4 {
        margin: auto 0;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      button {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .applyButton {
      background-color: $activeGreen;
      color: #ffffff;
      border-radius: 3px;
      padding: 5px 10px;
      border-style: none;
    }

    .saveForLaterButton {
      background-color: transparent;
      color: grey;
      border-radius: 3px;
      padding: 5px 10px;
      border: solid grey;
    }
  }

  .keyFacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr;

    h5 {
      margin: 3px 0;
      padding: 0;
    }

    .skills {
      display: flex;
      justify-content: space-around;
    }
  }
}